
body{
  margin:0px;
  padding:0px;
  
  margin: auto;
  font: 36px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

img{
  position: relative;
  display: flex;
  left: 15%;
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.img{
  border: 0px solid black;
  border-radius: 10px;
  background-color: rgb(109, 210, 148);
}

.lcont{
  float: left;
  left: 1px;
  background-color: rgb(133, 149, 149);
  width: 400px;
  height:fit-content;
}